Cliente_Venta/Service References/ServiceProveedor/Service_Proveedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Proveedor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49617/Service_Proveedor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Proveedor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Proveedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Proveedor_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_Mostrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_Mostrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_BuscarRazon_social_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRazon_social" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_BuscarRazon_social_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRazon_socialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_BuscarNum_Documento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNum_Documento" />
  </wsdl:message>
  <wsdl:message name="IService_Proveedor_BuscarNum_Documento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNum_DocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Proveedor">
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Proveedor/Insertar" message="tns:IService_Proveedor_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Proveedor/InsertarResponse" message="tns:IService_Proveedor_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Proveedor/Editar" message="tns:IService_Proveedor_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Proveedor/EditarResponse" message="tns:IService_Proveedor_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Proveedor/Eliminar" message="tns:IService_Proveedor_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Proveedor/EliminarResponse" message="tns:IService_Proveedor_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Proveedor/Mostrar" message="tns:IService_Proveedor_Mostrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Proveedor/MostrarResponse" message="tns:IService_Proveedor_Mostrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRazon_social">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Proveedor/BuscarRazon_social" message="tns:IService_Proveedor_BuscarRazon_social_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Proveedor/BuscarRazon_socialResponse" message="tns:IService_Proveedor_BuscarRazon_social_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNum_Documento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Proveedor/BuscarNum_Documento" message="tns:IService_Proveedor_BuscarNum_Documento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Proveedor/BuscarNum_DocumentoResponse" message="tns:IService_Proveedor_BuscarNum_Documento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Proveedor" type="tns:IService_Proveedor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IService_Proveedor/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IService_Proveedor/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IService_Proveedor/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <soap:operation soapAction="http://tempuri.org/IService_Proveedor/Mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRazon_social">
      <soap:operation soapAction="http://tempuri.org/IService_Proveedor/BuscarRazon_social" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNum_Documento">
      <soap:operation soapAction="http://tempuri.org/IService_Proveedor/BuscarNum_Documento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Proveedor">
    <wsdl:port name="BasicHttpBinding_IService_Proveedor" binding="tns:BasicHttpBinding_IService_Proveedor">
      <soap:address location="http://localhost:49617/Service_Proveedor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>