Cliente_Venta/Service References/ServiceCliente/ServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49617/Service_Cliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Cliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Cliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Cliente_Mostrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar" />
  </wsdl:message>
  <wsdl:message name="IService_Cliente_Mostrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Cliente_BuscarApellidos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarApellidos" />
  </wsdl:message>
  <wsdl:message name="IService_Cliente_BuscarApellidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarApellidosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Cliente_BuscarNum_Documento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNum_Documento" />
  </wsdl:message>
  <wsdl:message name="IService_Cliente_BuscarNum_Documento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNum_DocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Cliente">
    <wsdl:operation name="Mostrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Cliente/Mostrar" message="tns:IService_Cliente_Mostrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Cliente/MostrarResponse" message="tns:IService_Cliente_Mostrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarApellidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Cliente/BuscarApellidos" message="tns:IService_Cliente_BuscarApellidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Cliente/BuscarApellidosResponse" message="tns:IService_Cliente_BuscarApellidos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNum_Documento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Cliente/BuscarNum_Documento" message="tns:IService_Cliente_BuscarNum_Documento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Cliente/BuscarNum_DocumentoResponse" message="tns:IService_Cliente_BuscarNum_Documento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Cliente" type="tns:IService_Cliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mostrar">
      <soap:operation soapAction="http://tempuri.org/IService_Cliente/Mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarApellidos">
      <soap:operation soapAction="http://tempuri.org/IService_Cliente/BuscarApellidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNum_Documento">
      <soap:operation soapAction="http://tempuri.org/IService_Cliente/BuscarNum_Documento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCliente">
    <wsdl:port name="BasicHttpBinding_IService_Cliente" binding="tns:BasicHttpBinding_IService_Cliente">
      <soap:address location="http://localhost:49617/Service_Cliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>