Cliente_Venta/Service References/ServiceCategoria/ServiceCategoria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCategoria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49617/Service_Categoria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Categoria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Categoria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Categoria_Mostrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar" />
  </wsdl:message>
  <wsdl:message name="IService_Categoria_Mostrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Categoria_BuscarNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNombre" />
  </wsdl:message>
  <wsdl:message name="IService_Categoria_BuscarNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNombreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Categoria">
    <wsdl:operation name="Mostrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Categoria/Mostrar" message="tns:IService_Categoria_Mostrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Categoria/MostrarResponse" message="tns:IService_Categoria_Mostrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Categoria/BuscarNombre" message="tns:IService_Categoria_BuscarNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Categoria/BuscarNombreResponse" message="tns:IService_Categoria_BuscarNombre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Categoria" type="tns:IService_Categoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mostrar">
      <soap:operation soapAction="http://tempuri.org/IService_Categoria/Mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNombre">
      <soap:operation soapAction="http://tempuri.org/IService_Categoria/BuscarNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCategoria">
    <wsdl:port name="BasicHttpBinding_IService_Categoria" binding="tns:BasicHttpBinding_IService_Categoria">
      <soap:address location="http://localhost:49617/Service_Categoria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>