Cliente_Venta/Service References/ServiceTrabajador/Service_Trabajador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Trabajador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49617/Service_Trabajador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Trabajador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Trabajador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Trabajador_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Mostrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Mostrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_BuscarApellidos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarApellidos" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_BuscarApellidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarApellidosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_BuscarNum_Documento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNum_Documento" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_BuscarNum_Documento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarNum_DocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Trabajador_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Trabajador">
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Trabajador/Insertar" message="tns:IService_Trabajador_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Trabajador/InsertarResponse" message="tns:IService_Trabajador_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Trabajador/Editar" message="tns:IService_Trabajador_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Trabajador/EditarResponse" message="tns:IService_Trabajador_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Trabajador/Eliminar" message="tns:IService_Trabajador_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Trabajador/EliminarResponse" message="tns:IService_Trabajador_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Trabajador/Mostrar" message="tns:IService_Trabajador_Mostrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Trabajador/MostrarResponse" message="tns:IService_Trabajador_Mostrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarApellidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Trabajador/BuscarApellidos" message="tns:IService_Trabajador_BuscarApellidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Trabajador/BuscarApellidosResponse" message="tns:IService_Trabajador_BuscarApellidos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNum_Documento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Trabajador/BuscarNum_Documento" message="tns:IService_Trabajador_BuscarNum_Documento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Trabajador/BuscarNum_DocumentoResponse" message="tns:IService_Trabajador_BuscarNum_Documento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Trabajador/Login" message="tns:IService_Trabajador_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Trabajador/LoginResponse" message="tns:IService_Trabajador_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Trabajador" type="tns:IService_Trabajador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IService_Trabajador/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IService_Trabajador/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IService_Trabajador/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <soap:operation soapAction="http://tempuri.org/IService_Trabajador/Mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarApellidos">
      <soap:operation soapAction="http://tempuri.org/IService_Trabajador/BuscarApellidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNum_Documento">
      <soap:operation soapAction="http://tempuri.org/IService_Trabajador/BuscarNum_Documento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService_Trabajador/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Trabajador">
    <wsdl:port name="BasicHttpBinding_IService_Trabajador" binding="tns:BasicHttpBinding_IService_Trabajador">
      <soap:address location="http://localhost:49617/Service_Trabajador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>