Cliente_Venta/Service References/ServiceVenta/Service_Venta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Venta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49617/Service_Venta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Venta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49617/Service_Venta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Venta_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_Mostrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_Mostrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_BuscarFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFechas" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_BuscarFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFechasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarDetalle" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarArticulo_Venta_Nombre_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarArticulo_Venta_Nombre" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarArticulo_Venta_Nombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarArticulo_Venta_NombreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarArticulo_Venta_Codigo_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarArticulo_Venta_Codigo" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarArticulo_Venta_Codigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarArticulo_Venta_CodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarArticulo_Venta_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarArticulo_Venta" />
  </wsdl:message>
  <wsdl:message name="IService_Venta_MostrarArticulo_Venta_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarArticulo_VentaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Venta">
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/Insertar" message="tns:IService_Venta_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/InsertarResponse" message="tns:IService_Venta_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/Eliminar" message="tns:IService_Venta_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/EliminarResponse" message="tns:IService_Venta_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/Mostrar" message="tns:IService_Venta_Mostrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/MostrarResponse" message="tns:IService_Venta_Mostrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/BuscarFechas" message="tns:IService_Venta_BuscarFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/BuscarFechasResponse" message="tns:IService_Venta_BuscarFechas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/MostrarDetalle" message="tns:IService_Venta_MostrarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/MostrarDetalleResponse" message="tns:IService_Venta_MostrarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarArticulo_Venta_Nombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/MostrarArticulo_Venta_Nombre" message="tns:IService_Venta_MostrarArticulo_Venta_Nombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/MostrarArticulo_Venta_NombreResponse" message="tns:IService_Venta_MostrarArticulo_Venta_Nombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarArticulo_Venta_Codigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/MostrarArticulo_Venta_Codigo" message="tns:IService_Venta_MostrarArticulo_Venta_Codigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/MostrarArticulo_Venta_CodigoResponse" message="tns:IService_Venta_MostrarArticulo_Venta_Codigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarArticulo_Venta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Venta/MostrarArticulo_Venta" message="tns:IService_Venta_MostrarArticulo_Venta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Venta/MostrarArticulo_VentaResponse" message="tns:IService_Venta_MostrarArticulo_Venta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Venta" type="tns:IService_Venta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/Mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFechas">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/BuscarFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarDetalle">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/MostrarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarArticulo_Venta_Nombre">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/MostrarArticulo_Venta_Nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarArticulo_Venta_Codigo">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/MostrarArticulo_Venta_Codigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarArticulo_Venta">
      <soap:operation soapAction="http://tempuri.org/IService_Venta/MostrarArticulo_Venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Venta">
    <wsdl:port name="BasicHttpBinding_IService_Venta" binding="tns:BasicHttpBinding_IService_Venta">
      <soap:address location="http://localhost:49617/Service_Venta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>